<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All users</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Full Name</td>
            <td>Created at</td>
            <td>Actions</td>
        </tr>
        <tr>
            {% for user in all_users %}
            <tr>{{user['id']}}</tr>
            <tr>{{user['first_name']}} {{user['last_name']}}</tr>
            <tr>{{user['email']}}</tr>
            <tr><a href="/delete/{{user['id']}}">Delete</a></tr>
        {% endfor %}
        </tr>
    </table>
</body>
</html>